.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: #F6F6F6;
}

.container{
  width: 600px;
  margin: 0px auto;
  font-family: 'Calibri';
}
.button{
  padding: 12px 10px;
  margin-top: 30px;
  width: 100px;
  background: #0082CB;
  color: white;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}
.first-q,
.second-q{
  display: flex;
  flex-direction: column;
}

.first-q input[type="radio"] {
  display: none;
}
.first-q label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.first-q input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #5A5A5A;
  transition: all 0.5s;
  vertical-align: middle;
  position: relative;
  margin-top: -3px;
}
.first-q input[type="radio"]:checked + label::before {
  background-color: var(--button-green);
  border: 2px solid #5A5A5A;
}
.second-q select{
  padding: 10px 10px;
  width: 200px;
  background: white;
}

