.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.container{
  width: 600px;
  margin: 100px auto;
  font-family: 'Calibri';
}
h1, h2, h3{
  margin-top: 0;
}
.button{
  padding: 12px 10px;
  margin-top: 30px;
  width: 210px;
  background: #0082CD;
  color: white;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s;
}
.button:hover{
  background: #5AA3CD;
}
.block-q{
  display: flex;
  flex-direction: column;
}
.block-q input[type="radio"] {
  display: none;
}
.block-q label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.unchecked::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #5A5A5A;
  transition: all 0.5s;
  vertical-align: middle;
  position: relative;
  margin-top: -3px;
}
.checked::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.5s;
  vertical-align: middle;
  position: relative;
  margin-top: -3px;
  background-color: #4EB83E;
  border: 2px solid #5A5A5A;
}
.block-q select{
  padding: 10px 10px;
  width: 300px;
  background: white;
}



.var-container *{
  font-weight: bold;
}
.var-container p{
  font-weight: normal;
  text-align: justify;
}
.left-container ul{
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
}
.left-container li{
    border: 2px solid black;
    width: 250px;
    padding: 10px 10px;
    margin-top: 10px;
    background: #F5F5F5;
    text-align: center;
}
.left-container li:hover,
.left-container li.checked{
    background: white;
    cursor: pointer;
}

.left-container li:before {
    counter-increment: list;
    content: counter(list) ". ";
}

.middle-container{
  padding: 0 40px;
  width: 500px;
}

.right-container{
  padding: 30px 10px;
  width: 150px;
  height: 50px;
  border: 1px solid #4EB83E;
  background: #BCF6B3;
  text-align: center;
}
.var-container{
  margin: 20px auto;
  width: 1000px;
}

.button-container{
  counter-reset: list;
  display: flex;
  flex-direction: column;
}
.button-click{
  text-align: left;
  width: 250px;
  padding: 12px;
  border: none;
  border-radius: 3px;
  transition: .5s all;
  cursor: pointer;
  margin-bottom: 10px;
}
.button-click::before{
    counter-increment: list;
    content: counter(list) ". ";
}
.button-click:hover{
  background: #8BD1F2;
}
.textarea-container{
  display: flex;
}
.textArea{
  padding: 5px;
  margin: 0;
}
.textArea textarea{
  width: 100%;
}
.textArea h2{
    text-transform: uppercase;
    font-size: 15px;
}

.flex-parent{
  display: flex;
  flex-direction: column;
}




